*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    position: absolute;
    width: 100%;
    height: 3.5rem;
    margin-right: 0rem;
    margin-left: 0rem;
    background-color: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFF9F2;
    box-shadow: 0px 0.873786px 1.74757px rgba(0, 0, 0, 0.3), 0px 1.74757px 5.24272px 1.74757px rgba(0, 0, 0, 0.15);
}

#logo{
    width: 7rem;
    height: 2.749rem;
    margin-left: 7.688rem;
    margin-right: 7.688rem;
    // margin-top:-2.625rem;
    justify-content: center;
}    

// .title{
//     background-color: #E3C3C2;
//     position: absolute;
//     width: 360px;
//     height: 56px;
//     margin-left: 0px;
// top: 96px;
// text-align: center;
// justify-content: center;
// }



.card-title{
    width: 100%;
height: 0.5rem;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 0.625rem;
line-height: 98%;
letter-spacing: 0.203125px;
color: #FFFFFF;

}

.card-text{
width: 100%;
height: 0.5rem;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 0.5rem;
letter-spacing: 0.101562px;
color: #FFFFFF;
}

.card{
    width: 100%;
    height: 30vh;
    background: linear-gradient(0deg, #E3C3C2, #E3C3C2), #FFFBFE;
    box-shadow: 0px 0.40625px 0.8125px rgba(0, 0, 0, 0.3), 0px 0.8125px 2.4375px 0.8125px rgba(0, 0, 0, 0.15);
    border-radius: 4.875px;
    margin-right: 0.5rem;
    margin-left: 0rem;
}
.card-img-top{
    width: 100%;
    height: 20vh;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0rem;
    border-radius: 4.88px;
}

