*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    position: absolute;
    width: 360px;
    height: 56px;
    margin-left: 0px;
    background-color: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFF9F2;
    box-shadow: 0px 0.873786px 1.74757px rgba(0, 0, 0, 0.3), 0px 1.74757px 5.24272px 1.74757px rgba(0, 0, 0, 0.15);
}

#logo{
    position: absolute;
    width: 114px;
    height: 43.98px;
    margin-left: 123px;
    margin-top: 6px;
}    

// 
.title{
    background-color: #E3C3C2;
    position: absolute;
    width: 360px;
    height: 56px;
    margin-left: 0px;
top: 96px;
text-align: center;
justify-content: center;
}
body{
    min-width: 360px;
height: 704px;
margin-left: 0px;
overflow-y: scroll;
background: #FFFFFF;
}

main{
    margin-top: 80px   ;
}