*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#logo{
    position: absolute;
    width: 114px;
    height: 43.98px;
    left: 123px;
    top: 6px;
    justify-content: center;
    align-items: center;
}
 
.title{
    background-color: #E3C3C2;
    position: absolute;
width: 360px;
height: 56px;
left: 0px;
top: 96px;
text-align: center;
justify-content: center;
}
