// Index//
.portada{   
    position: absolute;
    width: 328px;
    height: 496px;
    margin-left: 16px;
    margin-top: 16px;
    border-radius: 4px;
}

.subtitulo{
    position: absolute;
    width: 360px;
    height: 48px;
    margin-left: 0px;
    margin-top: 528px;
    background: #A9C3B4;
}

 .card{
 width: 158px;
 height: 35vh;
 background: linear-gradient(0deg, #E3C3C2, #E3C3C2), #FFFBFE;
 box-shadow: 0px 0.40625px 0.8125px rgba(0, 0, 0, 0.3), 0px 0.8125px 2.4375px 0.8125px rgba(0, 0, 0, 0.15);
 border-radius: 4.875px;
}

.productos_index{
    position: absolute;
    margin-top:600px;
    margin-left: 16px;
    margin-right: 16px;
    max-width: 328px;
}

.card-img-top{
    width: 158px;
height: 136px;
margin-left: 0px;
margin-top: 0px;
border-radius: 4.88px;
}