// Index//
.portada{   
    position: absolute;
    width: 90%;
    height: 31rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 4.5rem;
    border-radius: 0.25rem;
}

.subtitulo{
    position: absolute;
    width: 100%;
    height: 3rem;
    margin-top: 36.5rem;
    margin-right: 0rem;
    padding: 0rem;
    background: #A9C3B4;
}



.productos_index{
    position: absolute;
    margin-top:39.25rem;
    margin-left: 0rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.prim_ver{
    position: absolute;
width: 100%;
height: 3rem;
padding: 1.25rem;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 2rem;
line-height: 1.5rem;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
color:#FFFF;

}