// Index//
.portada{   
    position: absolute;
    width: 328px;
    height: 70vh;
    margin-left: 16px;
    margin-top: 72px;
    border-radius: 4px;
}

.subtitulo{
    position: absolute;
    width: 360px;
    height: 48px;
    margin-left: 0px;
    margin-top: 584px;
    background: #A9C3B4;
}



.productos_index{
    position: absolute;
    margin-top:628px;
    margin-left: 8px;
    margin-right: 8px;
    max-width: 328px;
}

.prim_ver{
    position: absolute;
width: 328px;
height: 48px;
padding: 20px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
color:#FFFF;

}