.filtro{
    width: 9.875rem;
height: 2.5rem;
margin-left: 1rem;
padding: 0.625rem;
margin-top: 5rem;
box-shadow: 0rem 0.25rem 0.5rem 0.188rem rgba(0, 0, 0, 0.15), 04rem 0.063rem 0.188rem rgba(0, 0, 0, 0.3);
border-radius: 1rem;
background: linear-gradient(0deg, #FFF9F2, #FFF9F2), #FFF9F2;
margin-bottom: 1rem;

display: flex;
flex-flow: row wrap;
text-align: center;
align-items: center;
align-content: center;
}

.card_products{
    background: linear-gradient(0deg, #A9C3B4, #A9C3B4), #FFFBFE;
}

.products{
    margin-left: 0rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;   
}