.presentacion_producto{
    margin-left: 1rem;
    margin-right: 1rem;  
}
 
.img_product{
    border-radius: 0.305rem;
    height: 31rem;
}

.product_general{

    margin-top: 4.5rem;
    height: 100vh;
}

.product_title{
width: 100%;
height: 3rem;
margin-left: 1rem;
font-family: 'Roboto';
font-style:normal;
font-weight: bolder;
font-size: 1.25rem;
line-height: 1.438rem;
display: flex;
align-items: center;
color: #000000;
}

.product_description{
    width: 80%;
margin-left: 1rem;
font-family: 'Roboto';
font-style:normal;
font-weight: 200;
font-size: 1rem;
line-height: 1.438rem;
display: flex;
align-items: center;
color: #000000;
margin-bottom: 0.5rem;
margin-top: 0.5rem;
}

.precio{
    display: flex;
    flex-flow: row wrap;
}

.precio_txt{
height: 2rem;
margin-left: 1rem;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 1.125rem;
line-height: 1.313rem;
display: flex;
align-items: center;
color: #000000; 
}

.color{
    height: 2rem;
margin-left: 1rem;
margin-right: 4rem;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 2rem;
display: flex;
align-items: center;
color: #1C1B1F;
mix-blend-mode: normal;
}

.color_options{
margin-left: 1rem;
margin-right: 4rem;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 0.875rem;
line-height: 1.25rem;
display: flex;
align-items: center;
letter-spacing: 0.016rem;
color: #49454F;
mix-blend-mode: normal;
}