* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  width: 100%;
  height: 3.5rem;
  margin-right: 0rem;
  margin-left: 0rem;
  background-color: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFF9F2;
  -webkit-box-shadow: 0px 0.87379px 1.74757px rgba(0, 0, 0, 0.3), 0px 1.74757px 5.24272px 1.74757px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0.87379px 1.74757px rgba(0, 0, 0, 0.3), 0px 1.74757px 5.24272px 1.74757px rgba(0, 0, 0, 0.15);
}

.nav-link {
  color: #A9C3B4;
}

.nav-item {
  padding: 1rem;
}

#logo {
  width: 7rem;
  height: 2.749rem;
  margin-right: 8rem;
  margin-top: 0.375rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-title {
  width: 100%;
  height: 0.5rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 98%;
  letter-spacing: 0.203125px;
  color: #FFFFFF;
}

.card-text {
  width: 100%;
  height: 0.5rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.5rem;
  letter-spacing: 0.101562px;
  color: #FFFFFF;
}

.card {
  width: 100%;
  height: 30vh;
  -webkit-box-shadow: 0px 0.40625px 0.8125px rgba(0, 0, 0, 0.3), 0px 0.8125px 2.4375px 0.8125px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0.40625px 0.8125px rgba(0, 0, 0, 0.3), 0px 0.8125px 2.4375px 0.8125px rgba(0, 0, 0, 0.15);
  border-radius: 4.875px;
  margin-right: 0.5rem;
  margin-left: 0rem;
}

.card-img-top {
  width: 100%;
  height: 22.5vh;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0rem;
  border-radius: 4.88px;
}

.footer_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_red {
  padding: 17.48px;
}

.footer_p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 56px;
  background: #FFFFFF;
  margin-left: 1rem;
}

.footer_txt {
  width: 80%;
  height: 40px;
  margin-left: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.footer_c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1rem;
  margin-right: 0rem;
}

.portada {
  width: 90%;
  height: 31rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 4.5rem;
  border-radius: 0.25rem;
}

.subtitulo {
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  margin-right: 0rem;
  padding: 0rem;
  background: #A9C3B4;
}

.card_index {
  background: -webkit-gradient(linear, left bottom, left top, from(#E3C3C2), to(#E3C3C2)), #FFFBFE;
  background: linear-gradient(0deg, #E3C3C2, #E3C3C2), #FFFBFE;
}

.productos_index {
  margin-top: 1rem;
  margin-left: 0rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.prim_ver {
  width: 100%;
  height: 3rem;
  padding: 1.25rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFF;
}

.title {
  background-color: #E3C3C2;
  width: 100%;
  height: 56px;
  margin-left: 0px;
  margin-top: 55px;
}

.venta_wpp {
  width: 100%;
  height: 48px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info_general {
  margin-top: 30px;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.info_title {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.info_compra {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.compra_txt {
  width: 90%;
  height: 56px;
  margin-left: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.btn_wpp {
  width: 90%;
  height: 48px;
  margin-left: 16px;
  background: #A9C3B4;
  border-radius: 100px;
  margin-bottom: 10rem;
}

.wpp_txt {
  color: #FFFFFF;
  width: 100%;
  height: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
  margin-right: 1.5rem;
}

.wpp_img {
  margin-left: 8.54%;
  margin-right: 8.54%;
}

.filtro {
  width: 158px;
  height: 40px;
  margin-left: 16px;
  padding: 10px;
  margin-top: 5rem;
  -webkit-box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  background: -webkit-gradient(linear, left bottom, left top, from(#FFF9F2), to(#FFF9F2)), #FFF9F2;
  background: linear-gradient(0deg, #FFF9F2, #FFF9F2), #FFF9F2;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card_products {
  background: -webkit-gradient(linear, left bottom, left top, from(#A9C3B4), to(#A9C3B4)), #FFFBFE;
  background: linear-gradient(0deg, #A9C3B4, #A9C3B4), #FFFBFE;
}

.products {
  margin-left: 0rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.presentacion_producto {
  margin-left: 16px;
  margin-right: 16px;
}

.img_product {
  border-radius: 4.88px;
  height: 496px;
}

.product_general {
  margin-top: 72px;
  height: 100vh;
}

.product_title {
  width: 100%;
  height: 48px;
  margin-left: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.product_description {
  width: 80%;
  margin-left: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.precio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.precio_txt {
  height: 32px;
  margin-left: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.color {
  height: 32px;
  margin-left: 16px;
  margin-right: 64px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1C1B1F;
  mix-blend-mode: normal;
}

.color_options {
  margin-left: 16px;
  margin-right: 64px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.25px;
  color: #49454F;
  mix-blend-mode: normal;
}
/*# sourceMappingURL=main.css.map */